.counter{
    margin: 0 auto;
    width: 300px;
    padding: 30px;
    border: solid 2px white;
    text-align: center;
}

.counter-value{
    color: white;
    margin-bottom: 10px;
    font-size: 20px;   
}

button{
    border: none;
    cursor: pointer;
    border-radius: 20%;
    background-color: black;
}